body, html{
    margin: 0%;
    height: 100%;
}

.section {
    background-color: lightslategray;
    min-height: 100%;
    margin: 0% auto;
    padding: 0%;
    text-align: center;

}
p{
    font-size: 250%;
    flex: 1;
}

h1 {
   margin-top: 0%;
   margin-bottom: 0%;
   font-size:500%
}

h4{
   font-size: 150%;
   flex: 1;
   display: flex;
   text-align: center;
   justify-content: center;
   align-items: center;
}

input{
    height: 140%;
    flex: 1;
    border-radius: 2%;
}

.inputName{
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}

button {
    padding: 1%;
    border-radius: 2%;
    display: block;
    margin: auto;
}

.radiobtn1 {
    display: flex;
    flex-direction: column;
}
.radiobtn2 {
    display: flex;
    flex-direction: column;
}
.radiobtn3 {
    display: flex;
    flex-direction: column;
}
.btns {
   display: inline-flex;
}
label {
    margin-left: 10%;
    margin-bottom: 5%;
}
.buttons {
    display: flex;
}

.space{
    font-size: 120%;
    background-color: rgba(46, 139, 86, 0.356);
    padding-left: 15%;
    padding-right: 15%;
    margin-left: 20%;
    margin-right: 20%;
   
}

.backdrop{
    background-color: rgba(245, 245, 245, 0.39);
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 10%;
    padding-top: 5%;
    margin: 10%;
    border-radius: 3%;
}
.invalidName {
    font-size: 120%;
    background-color: rgba(46, 139, 86, 0.356);
    padding-left: 15%;
    padding-right: 15%;
    margin-left: 20%;
    margin-right: 20%;
}
.errSpace {
    background-color: rgba(255, 0, 0, 0.521);
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 5%;
}